<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account Access | BankSys</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

<nav class="navbar">
  <div class="nav-left">🏦 BankSys</div>
</nav>

<div class="page-wrapper">
  <div class="action-card center-card">

    <h2>Account Access</h2>
    <p class="subtitle">Login if you already have an account</p>

    <!-- EXISTING USER LOGIN -->
    <form action="/login" method="post">
      <label>Account ID</label>
      <input type="number" name="account_id" required>

      <label>PIN</label>
      <input type="password" name="pin" required>

      <button type="submit">Login</button>
    </form>

    <hr style="margin:20px 0;">

    <!-- NEW USER -->
    <p class="subtitle">Don’t have an account?</p>
    <a href="request_account.html" class="btn">Request New Account</a>

  </div>
</div>

<script src="../static/js/app.js"></script>
</body>
</html>
